---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Theme for <a href="https://astro.build/">Astro</a>. Forked by <a
          href="https://github.com/mconnor">Mike Connor</a
        > from repo by <a href="markteekman/accessible-astro-starter">Mark Teekman</a>
      </p>
    </div>
  </section>
</footer>
